<header class="text-gray-700 body-font">
  <div
    class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row"
  >
    <a
      class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-6 h-6 text-indigo-500 fill-current"
      >
        <path
          d="M11.99 0l-11.99 8.723v15.277h24v-15.277l-12.01-8.723zm.001 2.472l9.793 7.113-6.735 4.588-3.049-2.47-3.049 2.471-6.737-4.589 9.777-7.113zm-9.991 9.386l5.329 3.63-5.329 4.318v-7.948zm.474 10.142l9.526-7.723 9.526 7.723h-19.052zm19.526-2.194l-5.329-4.317 5.329-3.631v7.948z"
        />
      </svg>

      <span class="ml-3 -mb-1 text-xl text-indigo-800">Email Client</span>
    </a>
    <nav
      class="flex flex-wrap items-center justify-center text-base md:ml-auto"
    >
      <a class="mr-5 hover:text-gray-900" [routerLink]="['']">Sign In</a>
      <a class="mr-5 hover:text-gray-900" [routerLink]="['signup']">Sign Up</a>
    </nav>
  </div>
</header>
