<section class="text-gray-700 body-font" data-cy="signup-component">
  <div class="container flex flex-wrap items-center px-5 py-6 mx-auto">
    <form
      [formGroup]="authForm"
      class="flex flex-col w-full p-8 mx-auto mt-10 bg-gray-200 lg:w-2/6 md:w-1/2 md:mt-0"
    >
      <h2 class="mb-5 text-lg font-medium text-gray-900 title-font">
        Create an Account
      </h2>
      <input
        class="px-4 py-2 mb-4 text-base bg-white border border-gray-400 focus:outline-none focus:border-indigo-500"
        formControlName="username"
        placeholder="Full Name"
        type="text"
      />
      {{ authForm.get("username").errors | json }}
      <input
        class="px-4 py-2 mb-4 text-base bg-white border border-gray-400 focus:outline-none focus:border-indigo-500"
        placeholder="Password"
        formControlName="password"
        type="password"
      />
      {{ authForm.get("password").errors | json }}
      <input
        class="px-4 py-2 mb-4 text-base bg-white border border-gray-400 focus:outline-none focus:border-indigo-500"
        placeholder="Password confirmation"
        formControlName="passwordConfirmation"
        type="password"
      />
      {{ authForm.get("passwordConfirmation").errors | json }}
      <button
        class="px-8 py-2 text-lg text-white bg-indigo-500 border-0 focus:outline-none hover:bg-indigo-600"
      >
        Sign Up
      </button>

      {{ authForm.errors | json }}
    </form>
  </div>
</section>
